*{
    box-sizing: border-box;
}
#gridContainer{
    display: flex;
    flex-direction: column;
    margin:150px auto 0 auto;
    background-color: black;
    border: solid black 1px;
    height:500px;
    width:500px;
    
}

.row{
    display: inline-flex;
    flex-grow: 1;
    
}

.column{
    background-color: white;
    flex-grow: 1;
  
}